include header

body
 .container
  #add
   h3 #{title}

   form(action="/add", method="post")
    label #{name}
    input(type="text", name="title", placeholder=name, size="20", autofocus="autofocus")
    label URL
    input(type="text", name="url", placeholder="URL (http://)", size="34")
    br
    label #{inpdescr}
    textarea(name="dcr", placeholder=inpdescr, cols='45', rows='30')
    br
    input(type="submit", value=send)
   if bookmarks !== null
    a(href='/p/date/1' id='nodecor') #{sort[0]} 路 
    a(href='/p/alpha/1' id='nodecor') #{sort[1]} 路 
    a(href='/p/clicks/1' id ='nodecor') #{sort[2]}
  br
  .container.one-half.column 
   - for(bookmark in bookmarks) {
   - var link = '/click/' + bookmarks[bookmark].id;
   - var clac = bookmarks[bookmark].clicks;
    div(id='bookmark')
     a(href=link , target='_blank', title=bookmarks[bookmark].id)= bookmarks[bookmark].title
     |  路 #{bookmarks[bookmark].date}  路  
     if clac > 1
      span(id='clicks') #{clac} #{clicks}
     else if clac === 1
      span(id='clicks') 1 #{click}
     else
      span(id='clicks') #{noclicks}
     p#dcr #{bookmarks[bookmark].dcr}
   - }

 br
 #pager
   each val in tpages
    if val !== cp
     a(href= val, class='pag')
      = val
    else
     a(id="heart")
      = val
