include header

body
 .container
  #add
   h3 #{title}

   form(action="/add", method="post")
    label #{name}
    input(type="text", name="title", placeholder=name, size="20", autofocus="autofocus")
    label URL
    input(type="text", name="url", placeholder="URL (http://)", size="34")
    br
    label #{inpdescr}
    textarea(name="dcr", placeholder=inpdescr, cols='45', rows='30')
    br
    input(type="submit", value=send)
   if bookmarks !== null
    a(href='/p/date/1' id='nodecor') #{sort[0]} · 
    a(href='/p/alpha/1' id='nodecor') #{sort[1]} · 
    a(href='/p/clicks/1' id ='nodecor') #{sort[2]}
  br
  .container.one-half.column 
   - for(bookmark in bookmarks) {
   - var link = '/click/' + bookmarks[bookmark].id;
    div(id='bookmark')
     a(href=link , target='_blank', title=bookmarks[bookmark].id)= bookmarks[bookmark].title
     |  · #{bookmarks[bookmark].date}  ·  
     span(id='clicks') #{bookmarks[bookmark].clicks} #{clicks}
     p#dcr #{bookmarks[bookmark].dcr}
   - }

 hr

 #pager
   each val in tpages
    if val !== '♥'
     a(href= val, class='pag')
      = val
    else
     a
      = val
