include header

body
 .container
  #add
   h3 #{title}

   form(action="/add", method="post")
    label Título
    input(type="text", name="title", placeholder=name, size="20", autofocus="autofocus")
    label URL
    input(type="text", name="url", placeholder="URL (http://)", size="34")
    br
    label Descrição (max 70 caracteres)
    textarea(name="dcr", placeholder=inpdescr, cols='50', rows='30')
    br
    input(type="submit", value=send)
   a(href='/p/date/1' id='nodecor') #{sort[0]} · 
   a(href='/p/alpha/1' id='nodecor') #{sort[1]}
  br
  .container.one-half.column 
   - for(bookmark in bookmarks) {
    a(href=bookmarks[bookmark].url, target='_blank', title=bookmarks[bookmark].id)= bookmarks[bookmark].title
    |  · #{bookmarks[bookmark].date}
    p#dcr #{bookmarks[bookmark].dcr}
   - }

 hr

 #pager
   each val in tpages
    if val !== '♥'
     a(href= val, class='pag')
      = val
    else
     a
      = val
