include header

body
 .container
  #add
   h3 #{title}

   form(action="/add", method="post")
    label #{name}
    input(type="text", name="title", placeholder=name, size="20", autofocus="autofocus")
    label URL
    input(type="text", name="url", placeholder="URL (http://)", size="34")
    br
    label #{inpdescr}
    textarea(name="dcr", placeholder=inpdescr, cols='40', rows='30')
    br
    input(type="submit", value=send)
    br
    br
    a(id='sortby') #{sortby} 
    a(href='/p/date/1' id='nodecor') #{sort[0]} 路 
    a(href='/p/alpha/1' id='nodecor') #{sort[1]} 路 
    a(href='/p/clicks/1' id ='nodecor') #{sort[2]}
  br
  .container.one-half.column 
   each bookmark, index in bookmarks
    - var link = '/click/' + bookmark.id;
    - var clac = bookmark.clicks;
    - var url = bookmark.url;
    - var zelda = url.split('/')[2]
    div(id='bookmark')
     div(id='title') 
      span ##{index} 
      a(href=link , target='_blank', title=bookmark.id)= bookmark.title
     div(id='info')
      span(id='zelda')   #{zelda}
      span  路 #{bookmark.date}  路  
      if clac > 1
       span(id='clicks') #{clac} #{clicks}
      else if clac === 1
       span(id='clicks') 1 #{click}
      else
       span(id='clicks') #{noclicks}
     hr
     p#dcr #{bookmark.dcr}

 br
 #pager
   each val in tpages
    if val !== cp
     a(href= val, class='pag')
      = val
    else
     a(id="heart")
      = val
