include header

body
 .container
  #add
   h3 #{title}

   form(action="/add", method="post")
    label #{i18n.name}
    input(type="text", id="input", name="title", placeholder=i18n.name, size="20", autofocus="autofocus")
    label URL
    input(type="text", id="input", name="url", placeholder="URL (http://)", size="34")
    br
    label #{i18n.descr}
    textarea(name="dcr", id="input", placeholder=i18n.descr, cols='40', rows='30')
    br
    input(type="submit", value=i18n.send)
    br
    br
    a(id='sortby') #{i18n.sortby} 
    a(href='/p/date/1' id='nodecor') #{i18n.sort[0]} 路 
    a(href='/p/alpha/1' id='nodecor') #{i18n.sort[1]} 路 
    a(href='/p/clicks/1' id ='nodecor') #{i18n.sort[2]}
  br
  .container.one-half.column 
   each bookmark, index in bookmarks
    - var link = '/click/' + bookmark.id;
    - var clac = bookmark.clicks;
    - var url = bookmark.url;
    - var zelda = url.split('/')[2]
    div(id='bookmark')
     div(id='title') 
      span(id="id") ##{index + 1} 
      a(href=link , target='_blank', title=bookmark.id)= bookmark.title
     div(id='info')
      span(id='zelda')   #{zelda}
      span  路 #{bookmark.date}  路  
      if clac > 1
       span(id='clicks') #{clac} #{i18n.clicks}
      else if clac === 1
       span(id='clicks') 1 #{i18n.click}
      else
       span(id='clicks') #{i18n.noclicks}
     hr
     p#dcr #{bookmark.dcr}

 br
 #pager
  if cp !== tpages[0]
   a(href = parseInt(cp) - 1, class='pag') <<
  each val in tpages
   if val !== cp
    a(href= val, class='pag')
     = val
   else
    a(id="heart")
     = val
  if cp !== tpages[tpages.length - 1]
   a(href= parseInt(cp) + 1, clas='pag') >>
